.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
  justify-items: center;
  align-items: center;
  max-width: 650px;
  margin: 0 auto;
  padding: 10px;
}

@media (max-width: 550px) {
  .board {
    gap: 10px;
  }
}
